@import url('https://use.typekit.net/rcr1opg.css');

:root {
	box-sizing: border-box;
	font-size: 1.5rem;
}

body {
	background: linear-gradient(
		176deg,
		rgba(18, 24, 27, 1) 50%,
		rgba(32, 39, 55, 1) 100%
	);
	min-height: 100vh;
	color: white;
	font-family: 'sofia-pro', 'sans-serif';
	display: flex;
	justify-content: center;
}

.container {
	max-width: 800px;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}

input {
	margin-left: 15px;
}
