@import url('https://use.typekit.net/rcr1opg.css');
:root {
	box-sizing: border-box;
	font-size: 1.5rem;
}
.card {
	border: 3px solid black;
	border-radius: 10px;
	margin-top: 20px;
}
.card p {
	font-size: 0.7rem;
}
body {
	min-height: 100vh;
	background-color: #eee;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.container {
	width: 600px;
	display: flex;
	background-color: rgb(111, 111, 111);
	border: 3px solid black;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	align-items: center;
	padding-bottom: 40px;
	border-radius: 30px;
}
textarea {
	border-radius: 10px;
	height: 50px;
	width: 13rem;
	margin-bottom: 20px;
	margin-top: 8px;
}
input[type='text'],
input[type='email'] {
	border-radius: 15px;
	width: 13rem;
	margin-bottom: 20px;
	margin-top: 8px;
	height: 20px;
}
select {
	width: 13rem;
	border-radius: 15px;
	margin-bottom: 20px;
	margin-top: 8px;
	height: 20px;
	text-align: center;
}
button {
	width: 11rem;
	height: 30px;
	border-radius: 10px;
	margin: 25px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	font-size: 15px;
}
.thankYou {
	display: flex;
	flex-direction: column;
	width: 70vw;
	height: 80vh;
	border-radius: 30px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: rgb(111, 111, 111);
	border: 3px solid black;
	animation: 1s ease-in 1 popUp;
	align-items: center;
	box-shadow: 4px 8px 1px;
}
@keyframes popUp {
	0% {
	}
	100% {
	}
}
